* {
    box-sizing: border-box;
} 

.noteContent {
    border: 1px solid #EEEEEE
}

.list-group {
    border: 0
}

.navbar {
    padding: 15 5 5 5;
    text-align: center;
    background: white;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #555555;
}
.sidebar {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #555555;
    border-bottom: 0;
}

button {
    border:0px solid transparent;
}

.content {

}

p {
    font-size: 25px;
    padding: 5 5 5 5;
}