<DOCTYPE! html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My awesome Notepad</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/content.css">
    <script type="text/javascript" src="node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="controllers/contentController.js"></script>
</head>
<body ng-controller="contentController">
    <div>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <input type="image" src="http://icons.iconarchive.com/icons/icons8/ios7/512/User-Interface-Plus-icon.png" alt="Submit" width="35" height="35" ng-click="addNewNote()">
                    My awesome Notepad
            </div>
        </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4">
            <b>SIDEBAR</b>
            <div class="list-group">
                <button type="button" class="list-group-item" ng-repeat="note in notes" ng-click="displayNote($index)">
                    {{note.noteName}} 
                </button>
            </div>
        </div>
        
        <div class="col-md-8" ng-show="displayContent">
            <b>CONTENT AREA</b>
            <textarea ng-model="currentNote.noteContent" class="form-control noteContent" rows="3"></textarea>
            <button type="button" class="btn btn-link" ng-click="saveNote()">Save</button>
        </div>
    </div>
</body>
</html>